<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body ng-app="todo" ng-controller="TodoCtrl">
        <ul class="list-unstyled">
            <li ng-repeat="todo in todos">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="todo.completed">
                    </span>
                    <input type="text" class="form-control" ng-model="todo.title">
                    <span class="input-group-btn">
                        <!-- ng-click에 메소드명을 설정하면, 컨트롤러에 존재하는 해당 메소드가 실행 됨 -->
                        <!-- 인수로 설정 할 값을 문자열 형식으로 설정해도 앵귤러가 해석하여 적용 -->
                        <button class="btn btn-danger" type="button" ng-click="remove(todo)">삭제</button>
                    </span>
                </div>
                <date>{{todo.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</date>
            </li>
        </ul>
    </body>
</html>