<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body ng-app="todo" ng-controller="TodoCtrl">
        <ul class="list-unstyled">
            <li ng-repeat="todo in todos">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-model="todo.completed">
                    </span>
                    <input type="text" class="form-control" ng-model="todo.title">
                </div>
                <!-- 표현식에 | 를 사용하면 필터기능 사용 가능 (ngFilter) -->
                <!-- date를 넣을 경우 날짜필터 사용이 가능 -->
                <date>{{todo.createdAt | date}}</date>
                <br>
                <!-- 형식을 임의로 지정하는 것도 가능 -->
                <date>{{todo.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</date>
            </li>
        </ul>
    </body>
</html>