<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body ng-app="todo" ng-controller="TodoCtrl">
        <!-- ng-model은 양방향 바인딩! (input에서 값을 변경하면 실제 값도 변경) -->
        <input type="text" ng-model="todo.title">
        <input type="checkbox" ng-model="todo.completed">
        <date>{{todo.createdAt}}</date>
        {{todo}}
    </body>
</html>