<!DOCTYPE html>
<html lang="en" ng-app="sampleApp">
<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js'></script>
  <title>Enhanced sparkline Directive Example</title>
  <script>
    angular.module('sampleApp', [])
        .controller('sampleCtrl', function ($scope) {
            $scope.chartData = [0, 0, 0];
            $scope.selectedData = {
                x: null,
                y: null,
            };
            $scope.handleClick = function (x, y) {
                $scope.selectedData.x = x;
                $scope.selectedData.y = y;
            };
        })
        .directive('ngSparkline', [function () {
            return {
                restrict: 'EA',
                scope: {
                    chartData: '=',
                    chartClick: '&',
                },
                link: function (scope, iElement, iAttrs) {
                    var options = {
                        type: iAttrs.chartType || 'line',
                    };
                    scope.$watch('chartData', function (bfData, afData) {
                        jQuery(iElement).sparkline(scope.chartData, options);
                    }, true); // true이면 요소가 바뀔 때마다 호출, false면 레퍼런스 자체가 바뀔 때만 호출
                    jQuery(iElement).bind('sparklineClick', function (ev) {
                        var sparklines = ev.sparklines[0];
                        var region = sparklines.getCurrentRegionFields();
                        var regionX = region.x;
                        var regionY = region.y;

                        // 타입 별로 반환해 주는 값이 다르다. bar 타입은 x, y가 아니라 value 만 있다.
                        if(regionX === undefined && region[0]) {
                            regionX = region[0].offset;
                        }
                        if(regionY === undefined && region[0]) {
                            regionY = region[0].value;
                        }
                        scope.$apply(function () {
                            scope.chartClick({
                                x: regionX,
                                y: regionY,
                            });
                        });
                    });
                },
            };
        }]);
  </script>
</head>
<body ng-controller="sampleCtrl">
  <div>
    <input type="number" ng-model="chartData[0]">
    <input type="number" ng-model="chartData[1]">
    <input type="number" ng-model="chartData[2]">
    <br>
    <p>데이터: {{chartData}}</p>
  </div>
  <ng-sparkline chart-data="chartData" chart-type="bar" chart-click="handleClick(x,y)"></ng-sparkline>
  <ng-sparkline chart-data="chartData" chart-type="line" chart-click="handleClick(x,y)"></ng-sparkline>
  <p>선택한 데이터 : x는 {{selectedData.x}} y는 {{selectedData.y}}</p>
</body>
</html>